extends ../layout

block content
  div(role='main')
    include ../layout/search

      .padpage.padtop
        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='<-')
          | #{info.name}

        p #{info.description}

        img(src="/img/gallery/" + info.image)
