extends ../layout

block content
  div(role='main')
    .page.innerPage.padpage.padtop.padbottom#galleryPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Duas Home")

      h1
        a.back.ui-link(href='/',data-rel="back")
          img(src='/img/icon-back.png',alt='Back')
          | Gallery

      p Use these images as your desktop wallpaper, or share them with friends via Facebook.

      .iscroll#galleryScroller(data-ajax='false')
        .scroller
          ul.menu
            each row in rows
              li
                ul.section
                  each image in row
                    li.square
                      a.box.gallery-item(href='/img/gallery/#{image.image}')
                        img(src='/cache/135x135/img/gallery/#{image.image}',alt='#{image.description}')

