extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Suhoor &amp; Iftar Duas

       .padpage
         h2
         span.h2 Sahar Duas 
       ul(data-role='listview')
         li
           a(href='/dua/yamafzayee')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Sahar')
             | Dua-e-Sahar (Ya Mafzayee)
         li
           a(href='/dua/sahar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Sahar')
             | Dua-e-Sahar 
         li
           a(href='/dua/yazallazi')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Yazallazi')
             | Dua from Imam Taqi (AS) - Ya zall lazee
       .padpage
         h2
         span.h2 Iftar Duas 
       ul(data-role='listview')
         li
           a(href='/dua/iftaar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Iftaar')
             | Dua for breaking fast
         li
           a(href='/dua/ramadhan1maghreb')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Maghrib')
             | Dua before Salat-al-Maghreb
         li
           a(href='/dua/allahummarabbanurilazeem')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Iftar')
             | Dua Allahumma Rabba Nuril Azeem by Holy Prophet (SAWA)
