extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Ramadhan ul Mubarak

       .padpage
         h2
         span.h2 Supplications

       ul(data-role='listview')
         li
           a(href='/dua/yamafzayee')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Sahar')
             | Dua-e-Sahar (Ya Mafzayee)
         li
           a(href='/dua/iftaar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Iftaar')
             | Dua-e-Iftaar
         li
           a(href='/dua/yaaliyoyaazeem')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Salaat')
             | Dua after every prayer (Ya Aliyo Ya Azeem)
         li
           a(href='/ramadhan/daily')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Daily Dua')
             | Dua for each day

