extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Ramadhan ul Mubarak

       .padpage
         h2
         span.h2 Sighting the cresent

       ul(data-role='listview')
         li
           a(href='/dua/cresentprophet')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Sighting of Ramadhan moon')
             | Holy Prophet's supplication on sighting the crescent.
         li
           a(href='/dua/ramadhan01')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='first day')
             | Dua from Imam Taqi (AS) for the first day of Ramadhan
       .padpage
         h2
         span.h2 Daily Duas

       ul(data-role='listview')
         li
           a(href='/dua/yamafzayee')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Sahar')
             | Dua-e-Sahar (Ya Mafzayee)
         li
           a(href='/dua/sahar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Sahar')
             | Dua-e-Sahar 
         li
           a(href='/dua/iftitah')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Iftitah')
             | Dua-e-Iftitah by Imam Asr
         li
           a(href='/dua/allahummarabbshar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Allah Humma Rabba Shahr')
             | Dua Allah Humma Rabba Shahr
         li
           a(href='/dua/iftaar')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Iftaar')
             | Dua for breaking fast
         li
           a(href='/dua/yaaliyoyaazeem')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Salaat')
             | Dua after every prayer (Ya Aliyo Ya Azeem)
         li
           a(href='/ramadhan/daily')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Daily Dua')
             | Dua for each day

       .padpage
         h2
         span.h2 Supplications from Sahifa-e-Sajjadiya

       ul(data-role='listview')
         li
           a(href='/dua/ramadan')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Welcoming Ramadhan')
             | Welcoming the coming of month of Ramadhan
         li
           a(href='/dua/morals')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Makarimul Akhlaq')
             | Makarimul Akhlaq (Noble Moral Traits)

         li
           a(href='/dua/farewell')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Welcoming Ramadhan')
             | Bidding farewell to the month of Ramadhan 
