extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Laylatul Qadr

       .padpage
         h2
         span.h2 Recitations from the Quran

       p
         | It's remcommended to recite these three surats of the Quran on the night of Laylatul Qadr

       ul(data-role='listview')
         li
           a(href='/quran/29')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Ankaboot')
             | Surah Ankabut
         li
           a(href='/quran/30')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Room')
             | Surah Ar Room
         li
           a(href='/quran/44')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Dukhan')
             | Surah Dukhan

       .padpage
         h2
         span.h2 Duas

       ul(data-role='listview')
         li
           a(href='/dua/ramadhan21')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 21st Night')
             | Dua for 21st of Ramadhan
         li
           a(href='/dua/laylatulqadr')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 23rd Night')
             | Dua for 23rd of Ramadhan
         li
           a(href='/ziyarat/imamhusainqadr')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Ziyarat of Imam Husain')
             | Ziyarat of Imam Husain (AS) on Laylatul Qadr


       .padpage
         h2
         span.h2 Salat of Laylatul Qadr

       ul(data-role='listview')
         li
           a(href='/dua/ramadhan21')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 21st Night')
             | Dua for 21st of Ramadhan
