extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | The month of Relevation

        p
          mixin verses(q1)

       .padpage
         h2
         span.h2 Recitations from the Quran

       ul(data-role='listview')
         li
           a(href='/quran/29')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Ankaboot')
             | Surah Ankabut
         li
           a(href='/quran/30')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Room')
             | Surah Ar Room
         li
           a(href='/quran/44')
             img.ui-li-icon(src='/img/quran.png', alt='Surah Dukhan')
             | Surah Dukhan

       .padpage
         h2
         span.h2 Selected Verses
       ul(data-role='listview')
         li
           a(href='/quran/topic/fasting')
             img.ui-li-icon(src='/img/quran.png', alt='Fasting')
             | Fasting
