extends layout

block content
  #collectioncontainer

  script(type="text/javascript").
    $(document).ready(function () {
        $('#collectioncontainer').jtable({
            title: 'Collections',
            paging: true,
            actions: {
                listAction: '/admin/collection_map/list',
                createAction: '/admin/collection_map/create',
                updateAction: '/admin/collection_map/update',
                deleteAction: '/admin/collection_map/remove'
            },
            fields: {
                rowid: {
                  key: true,
                  list: false,
                  create: false,
                  edit: false
                },
                collection: {
                  title: 'Collection'
                },
                prayer: {
                  title: 'Prayer Key'
                },
                prayername: {
                  title: 'Prayer Name'
                },
                type: {
                  title: 'Type'
                },
                filters: {
                  title: 'Filters'
                },
                sort: {
                  title: 'Sort Index'
                }
            }
        });
 
        $('#collectioncontainer').jtable('load');
    });
