extends layout

block content
  #coverscontainer

  script(type="text/javascript").
    $(document).ready(function () {
        $('#coverscontainer').jtable({
            title: 'Photo Gallery',
            selecting: true,
            multiselect: false,
            paging: true,
            actions: {
                listAction: '/admin/covers/list',
                createAction: '/admin/covers/create',
                updateAction: '/admin/covers/update',
                deleteAction: '/admin/covers/delete'
            },
            fields: {
                rowid: {
                  key: true,
                  list: false,
                  create: false,
                  edit: false
                },
                arabic: {
                    title: 'Verse'
                },
                attrib: {
                  title: 'Attribution',
                },
                href: {
                  title: 'Link'
                },
                linkrel: {
                  title: "rel"
                },
                image: {
                    title: 'Background',
                    display: function(data) {
                      if (data.record.image) {
                        return '<img src="/img/covers/' + data.record.image + '" width=135 height=135/>';
                      }
                      return 'default';
                    }
                },
                style: {
                  title: 'Style'
                },
                month: {
                  title: 'Month'
                },
                dates: {
                  title: 'Dates Applicable'
                },
                selected: {
                  title: 'Active',
                  type: 'checkbox',
                  values: { 'false': 0, 'true': 1 },
                  defaultValue: 'false'
                }
            }
        });
 
        $('#coverscontainer').jtable('load');
    });
