doctype html
html
  head
    link(rel="stylesheet",href="/css/libs/jqui/jquery-ui-1.9.2.custom.min.css")
    link(rel="stylesheet",href="/admin/jtable/themes/metro/blue/jtable.min.css")
    script(src="/js/libs/jquery-1.8.1.min.js")
    script(src="/js/libs/jquery-ui-1.9.2.custom.min.js")
    script(src="/admin/jtable/jquery.jtable.min.js")
    script(src="/js/hijri.js")
  body
    block content
