extends layout

block content
  #toctablecontainer

  script
    $(document).ready(function () {
        $('#toctablecontainer').jtable({
            title: 'Table of Contents',
            actions: {
                listAction: '/admin/toc/list',
                createAction: '/admin/toc/create',
                updateAction: '/admin/toc/update',
                deleteAction: '/admin/toc/remove'
            },
            fields: {
              rowid: {
                key: true,
                list: false,
                create: false,
                edit: false
              },
              urlkey: {
                title: 'URL Key',
                width: '5%'
              },
              audio: {
                title: 'Audio',
                width: '10%'
                },
              type: {
                title: 'Content Type',
                width: '5%'
              },
              collection: {
                width: '5%',
                title: 'Collection'
              },
              enname: {
                title: 'Name',
                display: function(data) {
                  return '<a href="/admin/' + data.record.type + '/' + data.record.urlkey + '">' + data.record.enname + '</a>'
                }
              },
              endesc: {
                title: 'Description'
              },
              arname: {
                title: 'Arabic Name'
              }
            }
        });
 
        $('#toctablecontainer').jtable('load');
    });
