extends ../layout

block content
  div(role='main')
    .page.innerPage#settingsPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Application Settings

        p Set Preferred Language, send feedback, check for updates.

        .projects
          ul(data-role='listview')
            li
              a(href='/settings/language')
                img(src='/img/icon-lang.png', alt='Hajj')
                h3 Language &amp; Fonts
                p  Select preferred language for translations
            li
              a(href='/settings/quran')
                img(src='/img/icon-quran.png',alt='Quran Settings')
                h3 Quran Settings
                p 
            li
              a(href='/settings/contact')
                img(src='/img/icon-contact.png', alt='Contact Us')
                h3 Feedback
                p Help us improve.
            li
              a(href='/settings/credits')
                img(src='/img/icon-attrib.png', alt='Hajj')
                h3 Credits
                p Acknowledgement &amp; Attribution
