extends ../layout

block content
  div(role='main')
    .page.innerPage#languageSettingsPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/settings')
            img(src='/img/icon-back.png',alt='Back')
          | Language Settings

        div #{message}

        form(id='langsettings',method='post',action='/settings/language')
          div(data-role="fieldcontain")
            label(for="language",class="select") Translation Preference
            select(name="language",id="language")
              option(value="english") English Translation
              option(value="engtrans") English Transliteration
              option(value="urdu") Urdu Translation
              option(value="hindi") Hindi Translation

          div(data-role="fieldcontain")
            label(for="language",class="select") Arabic Font Size
            input(type='range',name='arfontsize',id='arfontsize',value='#{settings.language.arfontsize}',min='8',max='100')

        h1 Arabic Preview     
          
        div.arabic بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ

        a(id="setlanguage",href="#", data-role="button", data-theme="b", data-transition="slide") Apply Changes
        a(id="resetlanguage",href="#", data-role="button", data-theme="c", data-transition="slide") Restore Defaults

