extends ../layout

block content
  div(role='main')
    .page.innerPage#languageSettingsPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/settings')
            img(src='/img/icon-back.png',alt='Back')
          | Language Settings

        div(data-role="fieldcontain")
          label(for="language",class="select") Translation Preference
          select(name="language",id="language")
            option(value="english") English Translation
            option(value="english") English Transliteration
            option(value="urdu") Urdu Translation
            option(value="hindi") Hindi Translation

        div(data-role="fieldcontain")
          label(for="language",class="select") Arabic Font Size
          input(type='range',name='arfontsize',id='arfontsize',value='28',min='8',max='100')

        h1 Arabic Preview     
          
        div.arabic بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
