extends ../layout

block content
  div(role='main')
    .page.innerPage#quranSettingsPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/settings')
            img(src='/img/icon-back.png',alt='Back')
          | Quran Viewer Settings

        .cutContainer.moreUpperMargin
          span.cutTop
          span.cutBottom
           .ui-widget.successMessage
             .ui-state-highlight.ui-corner-all
               p
                 span.ui-icon.ui-icon-info(style='')
                 strong Success!
                 | Your settings have been applied. 
                 a Go to Quran Viewer.

        form.ajaxform(id='quransettings',method='post',action='/settings/quran')
          div(data-role="fieldcontain")
            label(for="language",class="select") Translation Preference
            select(name="language",id="language")
              option(value="ar",selected=settings.quran.langauge == 'ar') No Translation
              option(value="en",selected=settings.quran.language == 'en') English Translation
              option(value="ur",selected=settings.quran.language == 'ur') Urdu Translation
              option(value="hi",selected=settings.quran.language == 'hi') Hindi Translation

          div(data-role="fieldcontain")
            label(for="translator",class="select") Translator Preference
            select(name="translator",id="translator")
              option.en(value="shakir") M H Shakir
              option.ur(value="jawadi") Allama Zeeshan Haidar Jawadi
              option.hi(value="hindi") Sohail Farooq and Saifur Rahman Nadwi

          div(data-role="fieldcontain")
            label(for="vpp",class="select") Verses per page
            input(type='range',name='vpp',id='vpp',value='5',min='1',max='20')

        a(id="setquran",href="#", data-role="button", data-theme="b", data-transition="slide") Apply Changes
