extends ../layout

block content
  div(role='main')
    .page.innerPage#quranSettingsPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/settings')
            img(src='/img/icon-back.png',alt='Back')
          | Quran Viewer Settings

        div(data-role="fieldcontain")
          label(for="language",class="select") Translation Preference
          select(name="language",id="language")
            option(value="hindi") No Translation
            option(value="english") English Translation

        div(data-role="fieldcontain")
          label(for="language",class="select") Translator Preference
          select(name="language",id="language")
            option(value="hindi") M H Shakir
            option(value="hindi") Pickthall

        div(data-role="fieldcontain")
          label(for="vpp",class="select") Verses per page
          input(type='range',name='vpp',id='vpp',value='5',min='1',max='20')

         
        div(data-role="fieldcontain")
          label(for="language",class="select") Translation Font Size
          input(type='range',name='trfontsize',id='trfontsize',value='20',min='0',max='100')

