extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | A dialogue on Hajj

        p  When the fourth Imam Zaynul Abideen (as) returned from Hajj, Shibli came to meet him. They engaged in the following conversation:
        p Imam Zaynul Abideen (as): Did you go for Hajj O Shibli?
        p Shibli: Yes O son of the Messenger of Allah.
        p Imam Zaynul Abideen (as): Did you stop at the Miqat (Miqat are the stations at which pilgrims on the Hajj, the pilgrimage to Makkah, put on Ihram, the pilgrim's garment) and put away the sewn clothes and perform the sacred bath?
        p Shibli: Yes
        p Imam Zaynul Abideen (as): When you stopped at Miqat did you make the intention that you are taking off the clothes of disobedience and putting on the clothes of obedience?
        p Shibli: No
        p Imam Zaynul Abideen (as): And when you had taken off your sewn clothes did you make the intention that you had taken off hypocrisy and entering dubious acts?
        p Shibli: No
        p Imam Zaynul Abideen (as): And when you took the bath did you have the intention that you are washing yourself from all sins and errors?
        p Shibli: No
        p Imam Zaynul Abideen (as): You did not stop at Miqat, nor did you take off sewn clothes nor did you perform the sacred bath.
        p Imam Zaynul Abideen (as): Did you cleanse yourself and put on Ihram and fulfill your covenant of Hajj?
        p Shibli: Yes
        p Imam Zaynul Abideen (as): When you did this did you have the intention that you are cleaning yourself with the light of the sincere repentance to Almighty Allah (SWT) the most high?
        p Shibli: No
        p Imam Zaynul Abideen (as): When you put on the Ihram did you have the intention that you are forbidding yourself everything that Almighty Allah (SWT) has forbidden?
        p Shibli: No
        p Imam Zaynul Abideen (as): When you fulfilled the covenant of Hajj did you have the intention that you have nullified all other covenants with other than Allah (SWT)?
        p Shibli: No
        p Imam Zaynul Abideen (as): You did not cleanse yourself nor did you put on the Ihram nor did you fulfill the covenant of hajj.
        p Imam Zaynul Abideen (as): Did you enter the Miqat and pray the two Rakats of the Ihram and did you chant Talbiyah?
        p Shibli: Yes
        p Imam Zaynul Abideen (as): When you entered the Miqat, did you make the intention of entering as a visitor?
        p Shibli: No
        p Imam Zaynul Abideen (as): When you prayed the two Rakats did you make the intention that you are trying to get closer to Allah (SWT) with the best of acts from the prayers and the biggest of good deeds from the acts of worship?
        p Shibli: No
        p Imam Zaynul Abideen (as): When you chanted the Talbiyah did you have the intention that you were talking to almighty Allah (SWT) with all obedience and keeping quiet from all disobedience?
        p Shibli: No
        p Imam Zaynul Abideen (as): You did not enter Miqat nor did you pray nor did you chant the Talbiyah.
        p Imam Zaynul Abideen (as): Did you enter the Haram and did you see the Holy Kaaba and did you pray there?
        p Shibli: Yes
          p Imam Zaynul Abideen (as): When you entered the Haram did you have the intention that you were prohibiting on yourself all backbiting of all the Muslims from the Nations of Islam?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you reached Makka did you make the intention with your heart that you had come to Almighty Allah (SWT)?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You have neither entered Haram nor seen the Holy Kaaba nor prayed.
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Did you go round the house and did you touch the Rukn and did you make Saee?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): And when you did the Saee did you have the intention that you were running towards Almighty Allah (SWT) and did Allah (SWT) the knower of all secrets know this?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You did not go round the house nor did you touch Rukn nor did you make Saee.
          p
          p Imam Zaynul Abideen (as): Did you touch the Hajar al-Aswad (The Black Stone) and did you stand at the Maqam Ibrahim (Station of Abraham) and did you pray two Rakats on it?
          p
          p Shibli: Yes
          p
          p Here the Imam Zaynul Abideen (as) gave a scream as if he was about to leave this world saying Ah! Ah! Whoever touches the black stone it is as if he has shaken hands with Almighty Allah (SWT). So Look O poor chap that you do not destroy the reward of something whose sacredness has been made very great and you do not spoil your Handshake by disobedience and by grasping evil like the sinners.
          p
          p Then Imam Zaynul Abideen (as) asked: Did you have the intention when you were standing on Maqam Ibrahim (Station of Abraham) that you were are standing on every obedience and that you have put behind you all disobedience?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): When you prayed two Rakats there did you make the intention that you are praying the prayers of Ibrahim and that you are humiliating Shaitan with your prayers?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You did not stand on Maqam Ibrahim (Station of Abraham) nor did you pray two Rakats on it.
          p
          p Imam Zaynul Abideen (as): Did you look over the well of Zamzam and did you drink from its water?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): Did you have the intention when you were looking over the well that you looking at obedience to Almighty Allah (SWT) and closing your eyes from all disobedience?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You did not look over it nor did you drink from its water.
          p
          p Imam Zaynul Abideen (as): Did you run between Safa and Marwa and did you walk between it repeatedly?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): Did you have the intention that you were between hope and fear?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You did not run between Safa and Marwa.
          p
          p Imam Zaynul Abideen (as): Did you go out to Mina?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): Did you have the intention that every Muslim was safe from your tongue, your heart and you?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): You did not go out to Mina.
          p
          p Imam Zaynul Abideen (as): Did you stay a short time at Arafa and did you climb Jabal al-Rahma and did you recognize the wadi of Namira and did to supplicate to Almighty Allah (SWT) near al-Mil and al-Jamaraat?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): Did you conceive by your stay in Arafa the gnosis (Irfan) of Almighty Allah (SWT) and the knowledge of good things and acts; and did you conceive that your book of deeds was in the hands of Allah (SWT) and that Allah (SWT) had full knowledge of your secrets and what is in your heart?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you climbed the Jabal al-Rahma did you have the intention that Almighty Allah (SWT) may have mercy on all believing men and all believing women and that He will help all Muslim men and women?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Did you have the intention at wadi of Namira that you would not enjoin good until you practice it yourself and you would not forbid evil until you leave it yourself?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you stopped at al-Mil and al-Jamaraat did you have the intention that they were witnessing all your acts of worship and that they were guarding you together with guardian angels by the order of Almighty Allah (SWT)?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Then you did not stay at Arafat nor did you go up the Mountain of Mercy nor did you recognize the wadi of Namirah nor did you supplicate to Almighty Allah (SWT).
          p
          p Imam Zaynul Abideen (as): Did you pass between the two columns pray two Rakats before crossing; go to Muzdalifah pick up pebbles and cross the Mash'arul Haram?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): When you prayed the two Rakats, did you have the intention that you were praying the prayer of thanksgiving within the ten nights which removes every hardship and facilitates every ease?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): At the time of passing between the two columns without deviating to the right or the left did you have the intention that you would never deviate from the true religion to the right or the left neither with your heart, tongue nor with your limbs?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): When you walked through Muzdalifah and picked up the pebbles did you have the intention that you have plucked all acts of disobedience and ignorance and that you had affirmed knowledge and action?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Then when you walked in the Mash'arul Haram did you have the intention that you had embossed your heart with the identification of those who have Taqwa and fear of Almighty Allah (SWT) the Most High?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Then you did not pass between the two columns nor did you pray the two Rakats, nor walked into Muzdalifah, nor picked up the pebbles nor walked in the Mash'arul Haram.
          p
          p Imam Zaynul Abideen (as): Did you arrive at Mina, throw stones at the Jamarah and did you shave your head and slaughter the sacrifice and did you pray in Masjid al-Kheef and did you return to Makkah and perform the Tawaf of Ifadha (return) to Makkah?
          p
          p Shibli: Yes
          p
          p Imam Zaynul Abideen (as): When you reached Mina and pelted the Jamarah did you have the intention that you have attained your goal and your Lord has fulfilled all your needs?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you pelted the Jamarah did you have the intention that you had pelted your enemy Iblees and by completing this precious Hajj you had disobeyed him?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you shaved your head did you have the intention that you had cleansed yourself from all filth and from all the injustice of the children of Adam and that you had purified yourself from sin just like a new born baby.
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you slaughtered your hadiya did you have the intention that you are cutting the artery of greed by holding fast to the reality of piety and that you are following the tradition of Prophet Ibrahim / Abraham (as) when he was prepared to slighter his son, the fruit of his heart, through which he established the Sunna of gaining nearness to Almighty Allah (SWT) for those who came after him?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): And when you returned to Makka and did the Tawaaf of Ifadha did you have the intention that you had come back with the Mercy of Almighty Allah (SWT) to His obedience and that you had clasped His love that you had performed your duty to Him and had gained nearness to him?
          p
          p Shibli: No
          p
          p Imam Zaynul Abideen (as): Then you did not reach Mina nor did you pelt the Jamaraat nor did you shave your head nor did you slaughter the hadiya nor did you pray in the Masjid Al-Kheef nor did you return to Makkah and perform the Tawaaf of Ifadha. Go back because you have not performed Hajj!
          p
          p Having heard all this Shibli started to cry because of what he had missed in his Hajj and he continued to learn the secrets of Hajj until he could perform the Hajj through knowledge and understanding.
      include ../sharing
