extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 Pearls of Wisdom
        p
          | Inspiring incidents from the life of our master.

        .projects
            ul(data-role='listview')
                li
                  a(href='/teachings/sermon')
                    img(src='/img/icon-karbala.png', alt='Hajj')
                    h3 The Sermon
                    p Courage in the face of tyranny
                li
                  a(href='/teachings/hajj')
                    img(src='/img/icon-kaba.png', alt='Hajj')
                    h3 Beyound rituals
                    p On the Philosophy of piligrimage
                li
                  a(href='/teachings/bestplace')
                    img(src='/img/icon-desert.jpg', alt='Best place on Earth')
                    h3 Loving the AhlulBayt
                    p The best place on Earth
                li
                  a(href='/teachings/devotion')
                    img(src='/img/icon-prayer.png', alt='Devotion')
                    h3 Devotion
                    p Before the divine Emperor
                li
                  a(href='/teachings/piety')
                    img(src='/img/icon-empathy.png', alt='Compassion')
                    h3 Compassion
                    p The patched cloak
                li
                  a(href='/teachings/humility')
                    img(src='/img/icon-tesbih.png', alt='Hajj')
                    h3 The humble Imam
                    p Washing the hands of his guests
                li
                  a(href='/teachings/ascetics')
                    img(src='/img/icon-quran.png', alt='ascetics')
                    h3 A definition of ascetics
                    p Asceticism in Islam
