extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='')
          | Pearls of Wisdom
        p
          | Inspiring incidents from the life of our master.

        .projects
            ul(data-role='listview')
                li
                  a(href="/teachings/guidance")
                    img(src='/img/icon-quran.png',alt='Interpreting the Quran')
                    h3 Interpreting the Quran
                    p Keep us on the straight path
                li
                  a(href='/teachings/sermon')
                    img(src='/img/icon-karbala.png', alt='Hajj')
                    h3 The Sermon
                    p Courage in the face of tyranny
                li
                  a(href='/teachings/hajj')
                    img(src='/img/icon-kaba.png', alt='Hajj')
                    h3 Beyound rituals
                    p On the Philosophy of piligrimage
                li
                  a(href='/teachings/will')
                    img(src='/img/icon-will.jpg', alt='Will to his son')
                    h3 Will to his Son
                    p Don't wrong the person who has no helper but Allah.
                li
                  a(href='/teachings/bestplace')
                    img(src='/img/icon-desert.jpg', alt='Best place on Earth')
                    h3 Loving the AhlulBayt
                    p The best place on Earth
                li
                  a(href='/teachings/devotion')
                    img(src='/img/icon-munajat.png', alt='Devotion')
                    h3 Devotion
                    p Before the divine Emperor
                li
                  a(href='/teachings/piety')
                    img(src='/img/icon-empathy.png', alt='Compassion')
                    h3 Compassion
                    p The patched cloak
                li
                  a(href='/teachings/humility')
                    img(src='/img/icon-tesbih.png', alt='Hajj')
                    h3 The humble Imam
                    p Washing the hands of his guests
                li
                  a(href='/teachings/ascetics')
                    img(src='/img/icon-quran.png', alt='ascetics')
                    h3 A definition of ascetics
                    p Asceticism in Islam
