extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | The patched cloak

        p Abdullah Damishqi says, 
        p "One day I went to Imam Zainul Abideen (a.s) and found him patching his cloak. I had come with 5000 Dirhams as Khums money and I presented it to the Imam and said, 'Master, it is my desire that you take some money from this amount and buy yourself a new cloak, your cloak has become very old.' 
        
        p The Imam said, 'Keep the money here and announce in Medina that whoever is in need may come to me in the Prophets' mosque.' I made the announcement according to his directions and very soon people converged in hordes. The Imam distributed all the money and I was left astounded."

      include ../sharing
