extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 The Sermon in Damascus

        p
          | When the priosners were brought to Yazid's court in Damascus, he turned to Imam Zainul Abideen and said, 
          | "Well, who do you think the winner of this war is?" 

        p Imam Zainul Abideen replied, “Yazid, victory can only belong to those who are on the right path. Look at you, and then look at my father Imam Hussain (pbuh). My father, who you ordered to be killed so brutally was the Grandson of the Prophet (pbuh), Yazid you are the Grandson of Abu Sufyan, who was an enemy of the Prophet (pbuh) and Islam just as you are.” Yazid instructed a speaker to mount on pulpit and calumniated the forefathers of Imam Zainul Abideen (pbuh). The speaker did as he was told, not sparing a single unbecoming remark against the household of the Holy Prophet (pbuh). When the speaker descended from the pulpit Imam Zainul Abideen raised and after praising Almighty God and sending salutations on the Holy Prophet Muhammad (pbuh) said:

        p
          | "O People! Those who are acquainted with me, know me and those who do not know me then recognize me. I am the son of Makkah and Mina; I am the son of Safa and Marwah. I am the son of the one who was elevated, who ascendied so high that he went beyond the heights of Sidratul Muntaha. He drew so near to his Lord that the distance of two bows or even less remained in between. I am the son of one behind whose head whom the angels of heaven prayed in couples. I am the son of one who was killed unjustly. I am the son of one who was beheaded from the nape. I am the son of one who was not given water till his last breath.
        p  
          | I am the son of one who rolled in his own blood in the sands of Karbala. I am the son of one whose turban and robe were looted. I am the son of one on whom angels of heaven have wept. I am the son of one was placed atop of spear and presented as a gift. I am son of one whose womenfolk were made prisoners and dragged from Iraq to Syria. O People! Praise be to God, who tested us firmly and gifted us with the knowledge of Guidance, Justice and Piety. The way he gave the sign of deviation to our enemies. Almighty God bestowed six privileges on us Ahlul Bayt. He bestowed knowledge, forbearance, bravery, generosity, love and respect for us in the hearts of the believers.
          
        p
          | Imam kept on saying such sentences that until signs of restlessness appeared in the audience. Yazid in order to keep the circumstances under control gestured towards the Muezzin to give Azan. When he delivered testimonies Imam said “I too testify to one whom you testify.” When he testified the Prophethood (ASH - HADU ANNA MUHAMMADAR - RASOOLULLAH) of Holy Prophet (pbuh), Imam asked from Yazid, 
        p 
          | "O Yazid tell me whether Muhammad was your Grandfather or mine? If you say that he was your grandfather then you are a liar and if you say that he is my Grandfather then why did you slay my father and captivated our womenfolk?" 
        p
          | Then he turned towards the public and said “O Men! Is there anyone amongst you whose father or Grandfather was the Holy Prophet (pbuh).” Thus the audience broke into mourning and crying aloud. Yazid was so angry that he ordered the prisoners to be taken away immediately and put into the prison. As soon as the prison doors were closed they started saying their prayers to thank God. In the prison it was so dark that you could not tell, whether it was day or night. The days were so hot that it was difficult to breath. And the nights were so cold that Sakina’s toes would turn blue. They had nothing to sleep on but the bare floor.
       include ../sharing
