node_modules/
public/css/min
public/js/min
src/views/layout/css.pug
src/views/layout/revealcss.pug
src/views/layout/revealjs.pug
src/views/layout/footerjs.pug
public/cache/
resources/*
data/ratings/
resources/db/seed/*
env.sh
