[Unit]
Description=duas.mobi 
After=multi-user.target

[Service]
WorkingDirectory=/home/webapp/duas/src
Environment="NODE_ENV=production EMAILUSER=qasim.zaidi@gmail.com EMAILPASS=mymmzksqnjvhddqx"

User=webapp
Group=webapp
Type=simple

ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardError=syslog

[Install]
WantedBy=multi-user.target
Alias=duas
