[Unit]
Description=duas.mobi 
After=network-online.target

[Service]
WorkingDirectory=/home/webapp/duas/src
Environment="NODE_ENV=production EMAILUSER=qasim.zaidi@gmail.com EMAILPASS=mymmzksqnjvhddqx"

User=webapp
Group=webapp
Type=simple

ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=file:/var/log/duas.out.log
StandardError=file:/var/log/duas.err.log

[Install]
WantedBy=multi-user.target
Alias=duas
