extends ../../layout

block content
  div(role='main')
    .page.innerPage#eventPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop

        h1(style="text-align:center;") 
          img(src="/img/duasorg.png",alt="Duas.org")
        p(style="text-align:center;")
          a(href="http://duas.org") Switch to Desktop view

        .projects
          ul(data-role='listview')
            li
              a(href="/month/zilqad")
               img.ui-li-icon(src='/img/icon-events.png', alt='Month',width="16",height="16")
               h3 Month of Zilqad
            li
              a(href="/dua/zilqadsalat")
               img.ui-li-icon(src='/img/icon-munajat.png', alt='Salat',width="16",height="16")
               h3(style="font-weight:normal;") Special Sunday Salaat
            li
              a(href="/events/masoomah")
               img.ui-li-icon(src='/img/icon-eid.jpg', alt='Eid',width="16",height="16")
               h3(style="color:red;") 1st - Birth of Syeda Masooma
            li
              a(href="/events/wiladat-imamreza")
               img.ui-li-icon(src='/img/icon-eid.jpg', alt='Eid',width="16",height="16")
               h3(style="color:red;") 11th - Birth of Imam Reza (as)
            li
              a(href="/dua/mercy")
               img.ui-li-icon(src='/img/icon-munajat.png', alt='Salat',width="16",height="16")
               h3(style="font-weight:normal;") 15th - Prayers of mercy
            li
              a(href="/events/dahwulardh")
               img.ui-li-icon(src='/img/icon-events.png', alt='Event',width="16",height="16")
               h3(style="font-weight:normal;") 25th - Dahwul Ardh
               p The day when earth was spread
            li
              a(href="/events/imamtaqi-martyrdom")
               img.ui-li-icon(src='/img/icon-karbala.png', alt='Martyrdom',width="16",height="16")
               h3 29th - Martyrdom of Imam Mohammed Taqi (as)
               p Expected to fall on Thu, Sep 25 2014
