extends ../../layout

block content
  div(role='main')
    .page.innerPage#eventPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop

        h1(style="text-align:center;") 
          a(href="http://duas.mobi")
            img(src="/img/duasorg.png",alt="Duas.org")
        p(style="text-align:center;")
          a(href="http://duas.org") Switch to Desktop view
          |  | 
          a(href="http://duas.mobi") More Duas

        .projects
          ul(data-role='listview')
            li
              a(href="/month/safar")
               img.ui-li-icon(src='/img/icon-events.png', alt='Month of Moharram ul Haram',width="16",height="16")
               h3 Month of Safar
            li
              a(href="/dua/safar")
               img.ui-li-icon(src='/img/icon-munajat.png', alt='Safar dua',width="16",height="16")
               h3(style="font-weight:normal;") Dua for the month of Safar
            li
              a(href="/events/sakina-martyrdom")
               img.ui-li-icon(src='/img/icon-karbala.png', alt='Martyrdom of Sakina',width="16",height="16")
               h3 10th - Martyrdom of Sakina bintal Husain (AS)
            li
              a(href="/events/arbaeen")
               img.ui-li-icon(src='/img/icon-karbala.png', alt='Arbaeen',width="16",height="16")
               h3 Arbaeen of martyrs of Karbala
            li
              a(href="/events/28safar")
               img.ui-li-icon(src='/img/icon-events.png', alt='Demise of Prophet',width="16",height="16")
               h3 Demise of Prophet Muhammad (PBUH) and martyrdom of Imam Hasan (AS)
