extends layout

block content
  div(role='main')
    .page.innerPage#aboutPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 Ornament of the worshippers

        p The holy Imam 'Ali Zaynu 'l-'Abidin is the Fourth Apostolic Imam. His epithet was Abu Muhammad and was popularly titled as "Zaynu'l-'Abidin".

      .padpage
        h2
        span.h2 Birth and Family Life

        p
          |  Imam ali Zainul-Abideen (A.S.) was born in Medina on Saturday, 11th Jamad al-Awwal, 37 (A.H.).  
          |  His father was Imam Al-Husain (son of Ali and Fatima Al-Zahraa’, the daughter of the Prophet (PBUH).  Zainul-Abideen’s mother was Shahr Banu. 

        p
          | The Holy Imam Zaynu'l-'Abidin lived for about thirty-four years after his father and all his life he passed in prayers and 
          | supplication to Allah and in remembrance of his martyred father. It is for his ever being in prayers to Allah, mostly 
          | lying in prayerful prostration, that this Holy Imam was popularly called "Sajjad". The knowledge and piety of this Holy Imam was 
          | matchless. az-Zuhrl, al-Waqid; and Ibn 'Uyaynah say that they could not find any one equal to him in piety and godliness. He was so 
          | mindful of Allah that whenever he sat for ablution for prayers, the complexion of his face would change and when he stood at prayer 
          | his body was seen trembling. When asked why this was so, he replied, 
          blockquote
            "Know ye not before whom I stand in prayer, and with whom I hold discourse?"

      .padpage
        h2
        span.h2 Ashura and Imamate

        p
          | Even on the gruesome day of 'Ashura when Yazid's forces had massacred his father, his kith and kin and his comrades and had set fire
          | to the camp, this Holy Imam was engrossed in his supplications to the Lord. When the brutal forces of Yazid's army had taken the 
          | ladies and children as captives, carrying them seated on the bare back of the camels, tied in ropes; this Holy Imam, though sick, 
          | was put in heavy chains with iron rings round his neck and his ankles, and was made to walk barefooted on the thorny plains from 
          | Karbala' to Kufah and to Damascus; and even then this godly soul never was unmindful of his prayers to the Lord and was always thankful 
          | and supplicative to Him. His charity was unassuming and hidden. After his passing away, the people said that hidden charity ended with 
          | the departure of this Holy Imam. Like his grand-father 'Ali ibn Abi Talib, 'Ali Zaynu'l-'Abidin used to carry on his own back at night 
          | bags of flour and bread for the poor and needy families in Medina and he so maintained hundred of poor families in the city.

        p 
          | The Holy Imam was not only hospitable even to his enemies but also used to continually exhort them to the right path. Imam 
          | Zaynu 'l-'Abidin along with the Ahlu 'I-Bayt passed through dreadful and very dangerous times, for the aggressions and atrocities 
          | of the tyrant rulers of the age had reached a climax. There was plunder, pillage, and murder everywhere. The teachings of Islam were 
          | observed more in their breach. The heartless tyrant al-Hajjaj ibn Yusuf ath-Thaqaf; was threatening every one who professed allegiance 
          | or devotion to the Ahlu 'I-Bayt; and those caught were mercilessly put to death. The movement of the Holy Imam was strictly restricted 
          | and his meeting with any person was totally banned. Spies were employed to trace out the adherents of the Ahlu 'I-Bayt. Practically 
          | every house was searched and every family scrutinized.

        p
          | Imam Zaynu 'l-'Abidin was not given the time to offer his prayers peacefully, nor could he deliver any sermons. This God's 
          | Vicegerent on earth therefore, adopted a third course which proved to be very beneficial to his followers. This was in compiling 
          | supplicative prayers for the daily use of man in his endeavour to approach the Almighty Lord. The invaluable collection of his 
          | edited prayers are known as as-Sahifah al-Kdmilah or as-Sahifah as-Sajjddiyyah; it is known also as az-Zabur (Psalm) of Al Muhammad
          | The collection is an invaluable treasury of wonderfully effective supplications to the Lord in inimitably beautiful language. 
          | Only those who have ever come across those supplications would know the excellence and the beneficial effect of these prayers. 
          | Through these prayers the Imam gave all the necessary guidance to the faithful during his seclusion.

        h4
          a.next.ui-link(href="/duas") Sahifa-e-Sajjadiya
            img(src="/img/icon-next.png")

      .padpage
        h2
        span.h2 Martyrdom

        p 
          | On the 25th of Muharram 95 AH when he was in Medina, al-Walid ibn 'Abdi 'l-Malik ibn Marwan, the then ruler got this Holy Imam 
          | martyred by poison. The funeral prayers for this Holy Imam were conducted by his son the Fifth Imam, Muhammad al-Baqir and his
          | body was laid to rest in the cemetery of Jannatu 'l-Baqi' in Medina.


