extends layout

block content
  div(role='main')
    .page.innerPage#aboutPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 Ornament of the worshippers

        p The holy Imam 'Ali Zaynu 'l-'Abidin is the Fourth Apostolic Imam. His epithet was Abu Muhammad and was popularly titled as "Zaynu'l-'Abidin".

      .padpage
        h2
        span.h2 Birth and Family Life

        p
          |  Imam ali Zainul-Abideen (A.S.) was born in Medina on Saturday, 11th Jamad al-Awwal, 37 (A.H.).  
          |  His father was Imam Al-Husain (son of Ali and Fatima Al-Zahraa’, the daughter of the Prophet (PBUH).  Zainul-Abideen’s mother was Shahr Banu. 

