extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 The Supplications
        p
          | At all phases of his life, Imam Sajjad(s) spent his time in supplication and prayers. His 
          | keenness in supplication and prayers was so strange that wherever his sacred name is called, mourning, 
          | insistence in worship, invocations and prayers will come to our mind.
        p
          | These fifty four invocations of Sahifeh are manifestations of that great soul.

        .clients
            ul(data-role='listview')
              each row in data
                li
                  a(href='/dua/#{row.urlkey}')
                    img.ui-li-icon(src='img/sample-images/icon2.png', alt='image 2')
                    | #{row.enname}

