extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 The Supplications
        p
          | At all phases of his life, Imam Sajjad(s) spent his time in supplication and prayers. His 
          | keenness in supplication and prayers was so strange that wherever his sacred name is called, mourning, 
          | insistence in worship, invocations and prayers will come to our mind. Sahifa-e-Kamela, also known as the 
          | Psalms of Islam, is a collection of those invocations.

        p
          | The invocations in this book have two distinct approaches: the ones which seek divine knowledge and guidance to keep away from sins and evil, while the others which persuades and exhorts one to enable one's 'self' by performance of virtuous deeds. All such Du'as are found mostly in the first part of the book, while the later part consists of the loftiness and grandeur of Allah, His creation and other wonders of His power and might.

        .clients
            ul(data-role='listview')
              each row in data
                li
                  a(href='/dua/#{row.urlkey}')
                    img.ui-li-icon(src='img/sample-images/icon2.png', alt='image 2')
                    | #{row.enname}

