extends layout

block content
  div(role='main')
    .page.innerPage#searchPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='')
          | #{err.message}


        p We are sorry - the page you requested could not be found. Here's what you can do.

        p - Go back to the 
            a(href='/') homepage
        
        p - Type in a few characters and let's see if we can find it for you.

        .projects
          ul#autocomplete(data-role='listview',data-inset="true",data-filter="true",data-filter-placeholder="Search")


