extends layout

append htmlhead
  //link(href='http://cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
  style(type='text/css').
    .indicates-required {margin-right: 4%; text-align: right; font-size: 11px;}

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Duas Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Newsletter


        // Begin MailChimp Signup Form
        #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action='//duas.us7.list-manage.com/subscribe/post?u=029117db8b493b4b4187b47c6&id=f036f83560', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
              #mc_embed_signup_scroll
                h3 Subscribe to our mailing list
                p
                  | duas.mobi intends to start a newsletter subscription with a weekly subscription. Please signup if you are interested.
                .indicates-required
                  span.asterisk *
                  |  indicates required
                .mc-field-group
                  label(for='mce-EMAIL')
                    | Email Address  
                    span.asterisk *
                  | &#x9;
                  input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                | &#x9;
                #mce-responses.clear
                  #mce-error-response.response(style='display:none')
                  | &#x9;&#x9;
                  #mce-success-response.response(style='display:none')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_029117db8b493b4b4187b47c6_f036f83560', tabindex='-1', value='')
                |     
                .clear
                  input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
        // End mc_embed_signup

