.ui-content#popupInfo(data-role="popup",data-theme="e",style="max-width:300px;font-size: 12px")
p
  img(src='/img/qrcode.png',style='float: left;')
  | Visit us on your mobile by scanning this code.
  br
  a(href="javascript:closePopup()")
    | Close this popup by pressing Esc or click here.


