extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 In Praise of God
          audio(src="/audio/SS001.mp3",controls="controls")

        table
          tr
            td Praise belongs to God,
            td.right.arabic أَلْحَمْدُ للهِ
          tr
            td the First, without a first before Him,
            td.right.arabic الاوَّلِ بِلا أَوَّل كَانَ قَبْلَهُ،
          tr
            td the Last, without a last behind Him.
            td.right.arabic وَ الاخِر بِلاَ آخِر يَكُونُ بَعْدَهُ
          tr
            td Beholders' eyes fall short of seeing Him,
            td.right.arabic ،الَّذِي قَصُرَتْ عَنْ رُؤْيَتِهِ أَبْصَارُ النَّاظِرِينَ
          tr
            td describers' imaginations are not able to depict Him.
            td.right.arabic وَ عَجَزَتْ عَنْ نَعْتِهِ أَوهامُ اَلْوَاصِفِينَ
          tr
            td He originated the creatures through His power with an origination,
            td.right.arabic ابْتَدَعَ بِقُدْرَتِهِ الْخَلْقَ اَبتِدَاعَاً،
          tr
            td He devised them in accordance with His will with a devising. 
            td.right.arabic وَاخْتَرَعَهُمْ عَلَى مَشِيَّتِهِ اخترَاعاً،
          tr
            td Then He made them walk on the path of His desire,
            td.right.arabic ثُمَّ سَلَكَ بِهِمْ طَرِيقَ إرَادَتِهِ،
          tr
            td He sent them out on the way of His love.
            td.right.arabic وَبَعَثَهُمْ فِي سَبِيلِ مَحَبَّتِهِ
          tr
            td They cannot keep back from that to which He has sent them forward,
            td.right.arabic لايَمْلِكُونَ تَأخِيراً عَمَا قَدَّمَهُمْ إليْهِ
          tr
            td nor can they go forward to that from which He has kept them back.
            td.right.arabic وَلا يَسْتَطِيعُونَ تَقَدُّماً إلَى مَا أَخَّرَهُمْ عَنْهُ،
