extends layout

block content
  div(role='main')
    .page.innerPage#prayerTimesPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='☾')
            | Prayer Times for 
            span#location

        .projects#praytable
          ul(data-role='listview')
            -for (var i = 0; i < 6; i++) 
              li
                img(src='/img/salat/#{i}.png',alt='Subah')
                h3(id='time_'+i) loading ..
                span(id='label_' + i)
                p.right(id='delay_'+i) 
                  | ...

        div#iftartable
