extends layout

block content
  div(role='main')
    .page.innerPage#prayerTimesPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='☾')
            | Prayer Times 

        div#praytable
          table
            tr
              th#location(colspan=2)
            -for (var i = 0; i < 7; i++)
              tr
                td(style="background: url(/img/times.png) no-repeat 0 #{(7-i)*22-153}px; width: 34px; height: 22px; padding: 0px")
                td(id='label_'+i)
                td(id='time_'+i)


