extends layout

block content
  div(role='main')
    .page.innerPage#searchPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='<-')
            | Start Here

        .projects
          ul#autocomplete(data-role='listview',data-inset="true",data-filter="true",data-filter-placeholder="Search")

        p 
          | Type in a few characters and let's suggest some results. 

        p 
          | Don't know who was Imam Zainul Abideen? Read more about this 
          a.next.ui-link(href='/about/')
            |  great grandson of Prophet Muhammad
            img(src="/img/icon-next.png") 
          |  who authored such maginficient works as the Pslams of Islam and Treatise of Rights. Browse through his
          |  supplications and prayers, 
          a.next.ui-link(href='/duas/noble')
            img(src="/img/icon-next.png")
          |  or read about some inspirational incidents from his life.
          a.next.ui-link(href='/teachings')
            img(src="/img/icon-next.png")

        .projects
          ul(data-role='listview')
            li
              a(href='/random/quran')
                img.ui-li-icon(src='/img/icon-quran.png', alt='Random Prayer from Quran')
                | Random Prayer from the Quran
            li
              a(href='/random/dua')
                img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Random Supplication')
                | Random Supplication/Ziyarat
            li
              a(href='/dua/#{day}')
                img.ui-li-icon(src='/img/sample-images/icon2.png',alt='Dua of the day')
                | Supplication on #{day}s.
            li
              a(href='/about/')
                img.ui-li-icon(src='/img/sample-images/icon1.png', alt='about Imam')
                | About Imam Zainul Abideen (AS)
