.footer
  .social.right
    a(href="http://plus.google.com",target="_blank")
      img(src="/img/icon-gplus.png",alt="Like us on Google+")

    a(href="http://twitter.com",target="_blank")
      img(src="/img/icon-twitter.png",alt="Follow us on Twitter")

    a(href="http://www.facebook.com/plugins/like.php?href=#{url}&send=false&layout=standard&width=450&show_faces=false&font&colorscheme=light&action=like&height=35&appId=215954525189219",target="_blank") 
      img(src="/img/icon-facebook.png",alt="Like us on Facebook")
