.footer
  .social.right
    a(href="http://twitter.com/intent/tweet?url=#{url}&text=#{page.title}",target="_blank")
      img(src="/img/icon-twitter.png",alt="Share on Twitter")

    a(href="//www.facebook.com/sharer.php?u=#{url}")
      img(src="/img/icon-facebook.png",alt="Share on Facebook")


