extends layout

block content
  div(role='main')
    .page.innerPage.padpage.padtop.padbottom#galleryPage(data-role="page")
      .topGrahic
      a.menuButton(href="/searchpage")
        img(src="/img/menu-button.png",alt="Home")

      h1
        a.back.ui-link(href='/',data-rel="back")
          img(src='/img/icon-back.png',alt='Back')
          | Gallery

      p Use these images as your desktop wallpaper, or share them with friends via Facebook.

      .iscroll#galleryScroller(data-ajax='false')
        .scroller
          ul.menu
            li
              ul.section
                li.square
                  a.box.gallery-item(href='/img/leaves.jpg')
                    img(src='/cache/135x135/img/leaves.jpg',alt='Hello world')
                li.square
                  a.box.gallery-item(href='/img/leaves.jpg')
                    img(src='/cache/135x135/img/leaves.jpg',alt='Second Line')
