extends layout

block content
  div(role='main')
    .page.innerPage#socialPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Treatise on Rights

        p 
          | In addition to Sahifa-e-Sajjadiya, Treatise on Rights is one of Imam's most outstanding teachings. 
          | It is a master document on Islamic human rights, which not only cover human rights, but they also include
          | the rights of God, rights of our body parts, deeds, relatives, neighbours, leaders ,subjects, adversaries, creditors 
          | and so on. To any intelligent reader who ponders deeply about the contents of this valuable document on rights, 
          | it immediately becomes clear that Islam etablished the first comprehensive charter on rights nearly fourteen centuries 
          | before the UN.

        p 
          | The concluding remarks from Imam Sajjad summarize this best

        blockquote
          | These are the fifty rights that surround you and you cannot evade under any circumstances. It is incumbent 
          | upon you to observe them and exert all efforts to fulfill them. You should seek God the Majestic’s help in 
          | this respect. And there is no power or strength but in God. And all praise is due to God the Lord of the Worlds.

        .projects
          ul(data-role='listview')
            li
              a(href='/rights/allah')
                img(src='/img/icon-allah.png', alt='Rights of Allah')
                h3 Rights of Allah
                p Worship Him without associating anything with Him.
            li
              a(href='/rights/prayer')
                img(src='/img/icon-prayer.png', alt='Rights of Deeds')
                h3 Rights of Deeds
                p The rights of prayer, fasting, piligrimage, charity ...
            li
              a(href='/rights/mother')
                img(src='/img/icon-mother.jpg', alt='Rights of Mother')
                h3 Rights of Mother
                p She did not care if she went hungry as long as you ate ..
            li
              a(href='/rights/companion')
                img(src='/img/icon-friend.jpg', alt='Rights of Friend')
                h3 Rights of the sitting companion
                p  you should treat him gently, warmly welcome him ..
        h2 
        span.h2 Recent Tweets

      .padpage
        ul#twitter_update_list
          div(style="text-align: center; width: 100%")
            img(src="/img/ajax-loader.gif",alt="loading tweets")
        script(type="text/javascript",src="http://twitter.com/javascripts/blogger.js")
        script(type="text/javascript",src="https://api.twitter.com/1/statuses/user_timeline.json?screen_name=imamzainuleba&callback=twitterCallback2&count=10")
                                                                                                
      include sharing
