extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat-e-Aayat
        
        p
          | Namaz-e-Ayaat consists of two Rak'ats, and there are five Ruku in each. Its method is as follows

        ol
          li Make Niyat of Salat-e-Aayat
          li 
            details
              summary In first Rakat recite Sura Fatiha 
              p
                +verses(q1)

          li 
            details 
              summary Recite Surah Fatiha
              p
                +verses(q1)

          li
            p After Surah Fatiha, recite any surah but split it into 5 parts and perform a ruku after each part. 

          each verse,idx in q112
            li 
              p Recite verse in Qayam
              p.arabic #{verse.ar}
            li 
              p Recite Takbir
              p.arabic اَللهُ اَكْبَر
            li 
              p Perform Ruku # #{idx+1}
              p.arabic  سُبْحَانَ الله (3x)
              p.arabic سُبْحَانَ رَبِّىَ الْعَضِيْمِ وَ بِحَمْدِهِ
            li 
              p Recite Takbir again after the Ruku
              - if (idx == 4)
                p.arabic سَمِعَ اللهُ لِمَنْ حَمِدَهُ
              p.arabic اَللهُ اَكْبَر


          li Perform the sujud as usual and complete the first unit

          li In the second rakat recite Sura Fatiha  

          li Recite Surah Ikhlaas as in the first rakaat, in 5 parts separated by ruku

          li Before the last (e.g. 10th) Ruku, recite Qunut

          li Perform the sujud as usual followed by tashshud

          li Say salaam and complete the prayer

       include ../sharing
