extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat-e-Eid
        
        p
          | The Eid prayer consists of two Rakat's. It should be prayed in congregation (Jamaat) but can be said individually if one
          | has missed the Jamaat. This prayer is to be performed between sunrise and zawal.

        p
          | Its mustahab to say this takbeer on the day of Eid
        p.arabic
          | اَللهُ اَكْبَرُ اَللهُ اَكْبَرُ اَللهُ اَكْبَرُ لآَ اِلٰهَ اِلاَّ اللهُ وَ اللهُ اَكْبَرُ وَ لِلَّهِ الْحَمْدُ اَللهُ اَكْبَرُ عَلٰي مَا هَدَانَا.
        p
          | Allah is the Greatest, Allah is the Greatest, there is no god except Allah, Allah is the Greatest, Allah is the Greatest, and praise is for Allah, Allah is the Greatest, for that upon which He guided us.
        ol
          li Make Niyat of Salat-e-Eid
          li 
            details
              summary In first Rakat recite Sura Fatiha 
              p
                +verses(q1)

          li 
            details 
              summary Recite Al Aala
              p
                +verses(q87)

          
          li 
            details
              summary Say takbeer and recite qunoot of Eid. Repeat 5 times
              p
                +dua(eidqunoot)
          
          li say takbeer the sixth time, go into rukoo. complete the first rakaat as usual.

          li In the qayam for second rakaat, recite al Fatihaa

          li 
            details 
              summary Recite As Shams
              p
                +verses(q91)
          li 
            details
              summary Say takbeer and recite qunoot of Eid. Repeat 4 times in the second rakaat
              p
                +dua(eidqunoot)

          li complete the second rakaat with ruku and sujood as usual, and recite tasbeeh-e-zehra after the prayer.

       include ../sharing
