extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat-e-Gufayla
        
        p
          | Salat Ghufailah is a 2 rakat namaz to be recited between Maghreb and Isha.

        ol
          li Make Niyat of Salat Ghufaylah and say Takbiratul Ehram
          li 
            details
              summary In first Rakat recite Sura Fatiha 
              p
                mixin verses(fatiha)

          li 
            details 
              summary Recite the following verses from Surah Yunus after Al Fatiha
              p
                mixin verses(yunus)

          li 
            details
              summary After Surah Al Hamd in the second Rak'at, recite verse 59 from Al Anaam.
              p
                mixin verses(anaam)

          li 
            details
              summary In Qunoot of Salat Ghufayla, recite this dua
              p
                mixin dua(ghufayla)

          li 
            | You may then pray to Him for your personal needs, for it has been narrated that any one who 
            | offers this prayer and supplicates to Almighty Allah will have his requests granted.


       include ../sharing
