extends ../layout

block content
  div(role='main')
    .page.innerPage#quranIndex(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Back')
            | Salat


        .clients
            ul(data-role='listview')
              li
                a(href='/salat/hilal')
                  img.ui-li-icon(src='/img/icon-munajat.png',width='16',height='16',alt='Salat Hilal')
                  | Salat Ruyat-e-Hilal
                  span.arabic.right(style='background: transparent;') صلاةالْهِلَالِ 
              li
                a(href='/salat/layl')
                  img.ui-li-icon(src='/img/icon-munajat.png',width='16',height='16',alt='Salat Tahajjud')
                  | Salat Layl (Tahajjud/Night Prayer)
                  span.arabic.right(style='background: transparent;') صلاةالليل
              li
                a(href='/salat/wahshat')
                  img.ui-li-icon(src='/img/icon-munajat.png',width='16',height='16',alt='Salat Wahshat')
                  | Salat Wahshat
                  span.arabic.right(style='background: transparent;') صلاة لیلة الدفن یا صلاة الهدیة یا نماز رفع وحشت 

