extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat for the month of Jamadus Saani
        
        p
          | Sayyid ibn Tawus has stated that one should offer four rak`ats of prayer - 2 X 2 rak`ats - during the month
          | One who recites will have guaranteed safety for  his life, wealth, and family for the full year. If he dies, 
          | he will achieve the reward/thawaab of a martyr.

        ol
          li 
            details
              summary In first Rakat recite Sura Fatiha 
              p
                +verses(q1)

          li 
            details 
              summary Recite Ayatal Kursi &amp; Sura Al-Qadr 25 times
              p
                +verses(q2v254)
              p 
                +verses(q97)

          li 
            details
              summary In second Rakat recite Sura Fatiha 
              p
                +verses(q1)
                  
          li 
            details
              summary Recite Surah Takathur and Surah Al Ikhlaas, 25 times
              p
                +verses(q102)
              p
                +verses(q112)

          li
             p commence first 2 rakaat's with salam.
  
          li
            p In the 3rd rakaat, recite Surah Fatiha

          li
           details
             summary After Al Fatiha, recite Surah Kaafirun and Surah Al Falaq, 25 times
             p
               +verses(q109)
             p
               +verses(q113)

          li
            details
              summary In the final rakaat, recite Surah Fatiha, followed by Surah Nasr and Surah An Naas, 25 times
              p
                +verses(q110)
              p
                +verses(q114)

        p Upon completion of the 4 rakaat's recite the following
        ol  
          li
            p Recite Tasbeehat-e-Arbaa 70 times
            p.arabic سُبْحَانَ اللَّهِ وَ الْحَمْدُ لِلَّهِ وَ لاَ إِلَهَ إِلاَّ اللَّهُ وَ اللَّهُ أَكْبَرُ  
          li
            p Recite Salawaat  70 times
            p.arabic للَّهُمَّ صَلِّ عَلَى مُحَمَّدٍ وَ آلِ مُحَمَّدٍا
          li
            p Recite 3 times
            p.arabic اللَّهُمَّ اغْفِرْ لِلْمُؤْمِنِينَ وَ الْمُؤْمِنَاتِ
            p Allahummamaghfirlil Muminina wal Muminat
          li
            p Go to Sajdah (Prostration) and recite 3 times
            p.arabic يَا حَيُّ يَا قَيُّومُ يَا ذَا الْجَلاَلِ وَ الْإِكْرَامِ يَا اللَّهُ يَا رَحْمَانُ يَا رَحِيمُ يَا أَرْحَمَ الرَّاحِمِينَ
            p Ya Hayyu Ya Qayyum, Ya Dhaljalal iwal Ikram, Ya Allahu Ya Rahmaan, Ya Raheem, Ya ar hamarRahimeen.
