extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat on Laylatul Qadr
        
        p
          | Recite a 2 rakat salat, with Surah al-Hamd followed by Surah Ikhlaas 7 times

        ol
          li 
            details
              summary In first Rakat recite Sura Fatiha 
              p
                mixin verses(q1)

          li 
            details 
              summary Recite Sura Al-Ikhlaas 7 times
              p
                mixin verses(q112)
          li 
            details
              summary In second Rakat recite Sura Fatiha 
              p
                mixin verses(q1)
          li 
            details
              summary Recite Sura Al-Ikhlaas 7 times
              p
                mixin verses(q112)
        p Complete the prayer as usual. Upon completion of the 2 rakaat's recite 70 times, and then intercede with Al-Quran
        ol  
          li
            p Seek forgiveness 70 times
            p.arabic أَسْتَغْفِرُ اللّهَ وَأَتُوبُ إلَيْهِ
          li
            p 
              | The Holy Qur'an should be opened and placed in front, then one should recite as under:
            p
              | Alaahumma inni asaloka be kitaabekal munzale Wa maa feeh, wa feehismokal akbaro wa asmaakal husnaa, 
              | wa maa yokhaafo Wa yurjaa an taj-alani min otaqaaeka minan-Naar
            p.arabic
              | اَللّـهُمَّ اِنّي اَسْاَلُكَ بِكِتابِكَ وَما فيهِ وَفيهِ اسْمُكَ الاَكْبَرُ وَاَسْماؤُكَ الْحُسْنى، وَما يُخافُ وَيُرْجى اَنْ تَجْعَلَني مِنْ عُتَقائِكَ مِنَ النّارِِ
            p
              | O Allah , in the name of this Holy Book sent by Thee, whatever there be in the Book. Including Ism-e-A'azam and Asmaa-e-Husnaa and the things to be dreaded, the things that may be expected and desired,( like blessings of Heaven). treat me as one of those who are free from Hell fire
          li
            p Place the Quran on your head and recite this 
            p
              | O Allah! I appeal to Thee in the name of this Qur'an and the Rooh that was sent along with it, 
              | and in the name of the Momin (believer) whose praise is contained in this Book and The obligation that is on them. 
              | No one else recognizes the right and truth more than Thee
            p.arabic
              | اَللّـهُمَّ بِحَقِّ هذَا الْقُرْآنِ، وَبِحَقِّ مَنْ اَرْسَلْتَهُ بِهِ، وَبِحَقِّ كُلِّ مُؤْمِن مَدَحْتَهُ فيهِ، وَبِحَقِّكَ عَلَيْهِمْ، فَلا اَحَدَ اَعْرَفُ بِحَقِّكَ مِنْكَ
          li
            p Repeat 10 times and seek intercession of Allah and the 14 infalliables
              mixin dua(intercession)
