extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat-e-Wahshat
        
        p
          | When you hear the sad news of a believer who has passed away, recite as recommended in this verse
        p
          mixin verses(inna)

        p 
          | It's mustahab (recommended) that on the first night after the burial of the deceased, between Maghrib and 
          | Isha one should recite two rakats prayer. This is known as Namaz-e-Wahshat because for the dead person the 
          | most horrifying and difficult is the first night.
        p
          | However, If unable to recite on the first night, then may be recited on the second or even third night after burial. 
        p
          | The prayer is conducted like any other 2 Rakat prayer (Morning prayer), as follows: 
        ol(type="1")
          li Perform Niyyat, and recite Takbirat-ul-Ehram
          li 
            details
              summary Recite Surah al-Fatiha 
              p
                mixin verses(fatiha)
          li 
            details
              summary After Al Fatiha, recite Ayat al Kursi
              p
                mixin verses(kursi)

          li Perform Ruku and Sajdah as any other prayer
          li Recite Surah al-Fatiha for the second unit
          li 
            details
              summary After Al Fatiha,  recite Surah Qadr 10 Times
              p
                mixin verses(qadr)

          li Perform Qunoot, ruku and sajdah as usual
          li Conclude the prayer with Tashahud and Salaam
          li Then recite a salwat mentioning the name of the deceased
            p.arabic  اللهم صل ع لی محمد و آل محمد و ابعث ثوابها الی قبر ذلك المیت فلان بن فلان
            p O' Allah! Bless Muhammad and his progeny, and assign the reward to the grave of (mention the name of the deceased).

       include ../sharing
