extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/salat',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Salat of Salman Farsi (Rajab)
        
        p
          | Salmaan the persian narrates that the Beloved of Allah, Hazrat Muhammad (SAWA) said 
          blockquote
            | "O Salmaan, there is no Mumin (True Believer) and Muminah (Truly Believing Female) who performs 30 Raka'ah in the month of Rajab 
            | (10 units on 1st , 10 units on 15th & 10 units last day) and in each Raka'ah recites Surah Al Faatihah once, Surah Al-Ikhlaas 3 times, 
            | and Surah Al Kafiroon 3 times that Allah does forgive them their sins and bestows rewards upon them as upon a person who has 
            | fasted a whole month. He becomes among those who will be steadfast in their salaat in the year which is to come. For him the deeds 
            | of the day is equal to that of the martyr. He will be raised with the Martyrs of the Holy Battle of Badr. For him is written for the 
            | fast of each day, one year's worship. His station is raised 1000 times higher.
            br
            | If he fasts the entire month of Rajab and he performs this (Above) Salaat, Allah will give him salvation from the Hell Fire, 
            | make Waajib for him, His Paradise and bestow His Nearness upon him. Hadrat Jibreel informed me 
            br
            | "O Muhammad this is the sign between you and the Mushrikeen (Polytheists) and the Munaafiqeen (Hypocrites) because the Munafiq does not 
            | perform this Salaat."

        h4 
          | Salat for the 1st day of Rajab
        ol
          li Make Niyat to pray 10 rakats, in units of 2 rakat each
          li 
            details
              summary In each Rakat recite Sura Fatiha once
              p
                +verses(q1)

          li 
            details 
              summary Recite Sooratul Ikhlass 3 times
              p
                +verses(q112)

          li 
            details 
              summary Recite Sooratul Kafiroon 3 times
              p
                +verses(q109)
          li
            details
              summary Recite this dua after completing the first 10 rakats
              p
                +dua(rajabsalat)
          li The following invocation should be said thereafter:
            p.arabic اللّهُمَّ لا مَانِعَ لِمَا أَعْطَيْتَ،
            p O Allah: verily, none can ever divest him whom You decide to give;
            p.arabic وَلا مُعْطِيَ لِمَا مَنَعْتَ،
            p and none can ever give him whom You decide to deprive,
            p.arabic وَلا يَنْفَعُ ذَا الْجَدِّ مِنْكَ الْجَدَّ.
            p and nothing can ever stop that which You decide.

        h4
          | Salat for the 15th day of Rajab
        ol
          li Perform 10 units of prayers as described before
          li
            details
              summary Recite this dua after completing the prayer
              p
                +dua(rajabsalat)
          li Then recite this dua
            p.arabic إلهاً وَاحِداً أَحَداً فَرْداً صَمَداً
            p The Lord Who is One, One and Only, Singular, and Besought by the all.
            p.arabic لَمْ يَتَّخِذْ صَاحِبَةً وَلا وَلَداً
            p He has betaken neither a wife nor a son.
          li Then spread your hands over your face

        h4
          | Salat for the last day of Rajab
        ol
          li Perform 10 units of prayers as described before
          li
            details
              summary Recite this dua after completing the prayer
              p
                +dua(rajabsalat)
          li Then recite this dua
            p.arabic وَصَلَّى اللّهُ عَلَى مُحَمَّدٍ وَآلِهِ الطَّاهِرِينَ،
            p May Allah send blessings upon Muhammad and upon his Family, the Immaculate.
            p.arabic وَلا حَوْلَ وَلا قُوَّةَ إلاّ بِاللّهِ الْعَلِيِّ الْعَظِيمِ.
            p There is neither might nor power save with Allah, the Most High, the All-great.
 
      include ../sharing
