extends ../layout

block content
  div(role='main')
    .page.innerPage#sakina(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | 28th Safar, Demise of Prophet Muhammad, Martyrdom of Imam Hasan


        .flexslider 
          img(src="/img/prophetshrine.jpg",alt='The Holy Shrine of Prophet Muhammad (PBUH) in Medina')

        p
          | 28 Safar marks the sad demise of Holy Prophet Muhammad and martyrdom of his elder grandson, Imam Hassan al Mujtaba.

        include ../sharing
