extends ../../layout

block content
  div(role='main')
    .page.innerPage#quranIndex(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Back')
            | Daily Duas for Ramadhan


        .clients
            ul(data-role='listview')
             - for (var day=1; day<30; day++)
                li
                  a(href='/ramadhan/daily/#{day}')
                    img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Daily dua for #{day} Ramadhan')
                    | #{day} Ramadhan

