extends ../../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Daily Duas

       .padpage
         h2
         span.h2 Duas for Ramadhan 
       ul(data-role='listview')
         li
           a(href='/ramadhan/daily')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Daily Dua')
             | Dua for each day
         li
           a(href='/dua/yazallazi')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Yazallazi')
             | Dua from Imam Taqi (AS) - Ya zall lazee
         li
           a(href='/dua/hazeen')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua Hazeen')
             | The Supplication of Grief (Dua-e-Hazeen)
         li
           a(href='/dua/iftitah')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Iftitah')
             | Dua-e-Iftitah by Imam Asr
         li
           a(href='/munajat/masjidkufa')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Munajat of Imam Ali')
             | A munajat of Imam Ali (AS)
         li
           a(href='/dua/joshankabeer')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Joshan Kabeer')
             | Joshan Kabeer
         li
           a(href='/dua/joshansagheer')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Joshan Sagheer')
             | Joshan Sagheer
         li
           a(href='/dua/morals')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Makarimul Akhlaq')
             | Makarimul Akhlaq (Noble Moral Traits)
       .padpage
         h2
         span.h2 Duas for the last nights
       ul(data-role='listview')
         li
           a(href='/dua/mujeer')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua-e-Mujeer')
             | Dua-e-Mujeer (13th,14th,15th of Ramadhan)
         li
           a(href='/dua/ramadhanlast10nights')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Last 10 nights')
             | Dua for the last 10 nights
         li
           a(href='/dua/ramadhan21')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 21st Night')
             | Dua for 21st of Ramadhan
         li
           a(href='/dua/ramadhan22')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 22nd Night')
             | Dua for 22nd of Ramadhan
         li
           a(href='/dua/laylatulqadr')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 23rd Night')
             | Dua for 23rd of Ramadhan
         li
           a(href='/ziyarat/imamhusainqadr')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Ziyarat of Imam Husain')
             | Ziyarat of Imam Husain (AS) on Laylatul Qadr
         li
           a(href='/dua/ramadhan25')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 25th Night')
             | Dua for 25th of Ramadhan
         li
           a(href='/dua/ramadhan27')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 27th Night')
             | Dua for 27th of Ramadhan
         li
           a(href='/dua/ramadhan28')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 28th Night')
             | Dua for 28th of Ramadhan
         li
           a(href='/dua/ramadhan29')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Dua for 29th Night')
             | Dua for 29th of Ramadhan
         li
           a(href='/dua/lastnightramadhan')
             img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Farewell Ramadhan')
             | Dua for last night by Imam Jafar As Sadiq (AS)
