extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/",data-rel="back")
        img(src="/img/menu-button.png",alt="Duas Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Nahjul Balagha

        p Coming soon ....
          
