extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/",data-rel="back")
        img(src="/img/menu-button.png",alt="Duas Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Nahjul Balagha

        .clients
          ul(data-role='listview')
            li
              a(href="/sermon/sermon1") Sermon 1: The Creation
            li
              a(href="/sermon/sermon2") Sermon 2: The Prophethood, and Progeny of Prophet
            li
              a(href="/sermon/sermon18") Sermon 18: Differences of views among the theologians

        p Other sermons coming soon ...
