extends ../layout

block content
  div(role='main')
    .page.innerPage#quranIndex(data-role="page")
      .topGrahic
      a.menuButton(href="/searchpage?sc=quran")
        img(src="/img/menu-search.png",alt="Duas Search")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | The Holy Quran

        p
          +verses(nahl)

        .clients
            ul(data-role='listview')
              li
                a(href='/ahadith/quran/1')
                  img.ui-li-icon(src='/img/icon-hadith.png',width='16',height='16',alt='Quran Traditions')
                  | Forty Traditions 
              li
                a(href='/qunoot/1')
                  img.ui-li-icon(src='/img/icon-dua.png',width='16',height='16',alt='Qunoot Prayers')
                  | Prayers from the Quran
              li
                a(href='/quran/index')
                  img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Chapters')
                  | Chapter Index
              li
                a(href='/quran/juz')
                  img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Ijza Index')
                  | Juz Index
              li
                a(href='/quran/topics')
                  img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Ijza Index')
                  | Topic Index
              li
                a(href='/quran/salat')
                  img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Salat verses')
                  | Verses to be recited after Salat
              li
                a(href='/dua/quran')
                  img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='Ijza Index')
                  | Supplication on finishing a reading
              li
                a(href='/settings/quran')
                  img.ui-li-icon(src='/img/icon-lang.png',width='16',height='16',alt='Font and Translations')
                  | Settings

