extends ../layout

block content
  div(role='main')
    include ../layout

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Back')
            | The Holy Quran

        .clients
            ul(data-role='listview')
              each surat in suras
                li
                  a(href='/quran/#{surat.id}')
                    img.ui-li-icon(src='/img/quran.png',width='16',height='16',alt='#{surat.enname}')
                    | #{surat.enname}
                    span.arabic.right(style='background: transparent;') #{surat.arname}

