extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Duas Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | The Supplications

        p
          +verses(pray)

        p
          | The word dua literally means 'invocation', derived from the arabic word meaning to call out. 
          | Browse through the Sahifa, or view other Duas from the family
          | of Prophet below.

        .projects
            ul(data-role='listview')
              li
                a(href='/collection/Taqeebat-Salat')
                  img(src='/img/icon-salat.png', alt='Taqeebate-Namaz')
                  h3 Taqeebat Namaz
                  p Duas to be recited after daily prayers
              li
                a(href='/collection/Sahifa-e-Sajjadiya')
                  img(src='/img/icon-imam.png', alt='Sahifa-e-Kamela')
                  h3 Sahifa-e-Kamila
                  p Duas from Imam Zainul Abideen
              li
                a(href='/collections')
                  img(src='/img/icon-dua.png', alt='Dua Collections')
                  h3 Duas from Ahlul Bayt
                  p Duas from Holy Prophet (PBUH) and his pure progeny
