extends ../layout

block content
  div(role='main')
    .page.innerPage#rightsGod(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='/treatise')
            img(src='/img/icon-back.png',alt='Back')
            | The rights of Allah

        p.arabic  حقوق الله

        p.arabic
          | فأَمَّا حَقُّ اللهِ الأَكْبَرُ فَإنَّكَ تَعْبُدُهُ لا تُشْرِكُ بهِ شَيْئاً، فَإذَا فَعَلْتَ ذَلِكَ بإخلاصٍ جَعَلَ لَكَ عَلَى نَفْسِهِ أَنْ يَكفِيَكَ أَمْرَ الدُّنْيَا وَالآخِرَةِ وَيَحْفَظَ لَكَ مَا تُحِبُّ مِنْهَما.

        p
          | Then the greatest right of God incumbent upon you is that you worship Him without associating anything with Him. 
          | When you do that with sincerity, He has made it binding upon Himself to give you sufficiency in the affairs of 
          | this world and the next and to keep for you whatever of the that you like.

       include ../sharing
