extends ../layout

block content
  div(role='main')
    .page.innerPage#rightsMother(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='/treatise')
            img(src='/img/icon-back.png',alt='Back')
            | The rights of Mother

        p.arabic حق الأم

        p.arabic  فَحَقُّ أُمِّكَ، فَأَنْ تَعْلَمَ أَنَّهَا حَمَلَتكَ حَيْثُ لا يَحْمِلُ أَحَدٌ أَحَدًا وَأَطْعَمَتكَ مِنْ ثَمَرَةِ قَلْبها مَا لا يُطْعِمُ أَحَدٌ أَحَدًا، وَأَنَّهَا وَقَتكَ بسَمْعِهَا وبَصَرِهَا ويَدِهَا وَرِجْلها وَشَعْرِهَا وبَشَرِهَا وَجَمِيعِ جَوَارِحِهَا مُسْتَبشِرَةً بذَلِكَ، فَرِحَةً مُوَابلَةً، مُحْتَمِلَةً لِمَا فِيهِ مَكْرُوهُها وأَلَمُها وثِقْلُها وَغَمُّهَا حَتَّى دَفَعَتهَا عَنْكَ يَدُ القُدْرَةِ وَأَخرَجَتكَ إلَى الأَرضِ فَرَضِيَتْ أَنْ تَشْبَعَ وتجوعُ هِيَ، وَتَكْسُوكَ وَتعْرَى، وَتُرْوِيكَ وَتَظْمَأُ، وَتُظِلُّكَ وتَضْحَى، وَتُنَعِّمَكَ ببُؤْسِهَا، وَتُلَذِّذُكَ بالنَّوْمِ بأَرَقِهَا، وَكَانَ بَطْنُهَا لَكَ وِعَاءً، وَحِجْرُهَا لَكَ حِوَاءً، وثَدْيُهَا لَكَ سِقَاءً، ونَفْسُهَا لَكَ وِقَاءً، تُبَاشِرُ حَرَّ الدُّنيَا وبَرْدِهَا لَكَ وَدُونَكَ، فَتَشْكُرَهَا عَلَى قَدْرِ ذَلِكَ وَلا تَقْدِرُ عَلَيْهِ إلاّ بعَونِ اللَّهِ وَتَوفِيقِهِ.

        p 
          | Then the right of your mother is that you should know that she carried you where no one carries anyone, 
          | and she fed you with the fruit of her heart - that which no one feeds anyone, and she protected you with 
          | her hearing and sight, and her hands and legs, and her hair and skin and all her other organs. She was 
          | highly delighted to do so. She was happy and eager, enduring the harm and the pains, and the heaviness and 
          | the grief until the Mighty Hand expelled you out of her and delivered you out to the Earth.
        p
          |  She did not care if she went hungry as long as you ate, and if she was naked as long as you were clothed, 
          |  and if she was thirsty as long as you drank, and if she was in the sun as long as you were in the shade, 
          |  and if she was miserable as long as you were happy, and if she was deprived of sleeping as long as you were 
          |  resting. And her abdomen was your abode, and her lap was your seat, and her breast was your supply of drink, 
          |  and her soul was your fort. She protected you from the heat and the cold of this world. Then you should thank 
          |  her for all that. You will not be able to show her gratitude unless through God's help and His granting you success.

       include ../sharing
