extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Asceticism

        p Imam As-Sajjad(A.S.) answered the man who asked him for a definition of ascetics: 
        
        p Asceticism is of ten grades the highest of which the lowest grade of piety. The highest grade of piety is the lowest grade of conviction. The highest grade of conviction is the lowest grade of satisfaction. Asceticism is (summarized) in Allah's saying: 
        
        p.arabic لِّكَيْلَا تَأْسَوْا۟ عَلَىٰ مَا فَاتَكُمْ وَلَا تَفْرَحُوا۟ بِمَآ ءَاتَىٰكُمْ ۗ وَٱللَّهُ لَا يُحِبُّ كُلَّ مُخْتَالٍۢ فَخُورٍ 

        p "... so that you would not grieve over what you have lost nor become too happy about what Allah has granted to you."
        p.right (Holy Qur'an 57:23)

      include ../sharing
