extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | The best place on earth

        p
          | One day Imam Zaynul-‘Aabideen (as) asked his companion Abu Hamza Thumali, “Which place is the best?”
          | Abu Hamza was perplexed. Not knowing what to answer, he said, “Allah and His messenger know best”.
          | Thereupon, the Imam (as) answered,

        p 
          | The best place is that, which is between the corner of the Ka’bah and the standing place of Ibrahim. 
          | (i.e. Hajar-e-Aswad and Maqaam-e-Ibrahim). Noah lived among his people for 950 years.
          | If a man lived as long as Noah did, fasted by day, stood in prayer by night in this place, and met 
          | Allah without showing friendship towards us, all these would be of no use to him.
      include ../sharing
