extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | The fear of Allah

        p 
          | At the time of worship, such a fear used to overcome Imam Zainul Abideen (a.s) that the 
          | color of his face used to become yellow (Pale). This condition endured from the beginning 
          | till the end. At the time of ritual ablution (wuzu) the same condition occurred. Once 
          | someone asked the reason for it. Imam (a.s) replied,
        p  
          | "At this moment I am standing before a glorious and a divine Emperor Who is the Creator 
          | of all the worlds, in Whose hands is the reward and punishment of every creature. What is 
          | so surprising that my condition is such due to His fear?"

        p
          img(src='http://www.vakil.org/wp-content/uploads/2009/11/Sufi-Comics-Preparing-to-Meet-God.jpg',style='width: 90%;')
          br
          | Courtsey Sufi Comics

      include ../sharing

