extends ../layout

block content
  div(role="main")
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href="#",data-rel="back")
            img(src="/img/icon-back.png",alt="Back")
            | Keep us on the straight path

        p
          | This account from Imam Jafar as Sadiq (AS) is quoted in the Tafseer of Imam Hasan Askari (AS) when explaining
          | the verse 
        p.arabic
          | ٱهْدِنَا ٱلصِّرَٰطَ ٱلْمُسْتَقِيمَ ﴿٦﴾
        p
          | Its about a man who was considered among people as well guided, and illustrates how 
          | people can go astray while interpreting the Quran and why its important to seek guidance from Allah.

        hr
        p 
          | The one who follows his desires and his opinions is like the one about whom
          | I  hear that he is being considered by rubbish people as a great person and
          | I wish to meet him but in a way that he would not recognize me so that
          | I can witness his status among them. 
          | And so it happened that I saw that a horde of common people had surrounded him 
          | and I also covered up my face with a piece of cloth and stood in the corner to observe.
          | After he had finished talking, the crowd dispersed and he went on his way. I
          | followed him and saw that he stopped at a baker"s shop and then he stole a
          | couple of loaves of bread from the shop and walked away. I was surprised
          | at having witnessed this. Then I said to myself, maybe they know each other. 

        p 
          | Then he carried on and stopped at a pomegranate shop and I saw him
          | steal two pomegranates from there. I was surprised and this but then I said
          | to myself that maybe they know each other. But then I thought that if they
          | knew each other then why did he need to steal? Then he carried on and
          | stopped by a sick person and placed both loaves of bread and both
          | pomegranates in front of him and walked away. I followed him until he , 
          | went into a forest and stopped there. I approached him and said to him: 

        blockquote
          | "O servant of God! I had heard good things about you and wanted to meet
          | you but I saw you do things, which my heart did not accept, and so I
          | would like to ask you about that. 
        p  He said: 
        
        blockquote "What is it that you would like to know?" 

        p I said: 

        blockquote
          | "I saw you pass by a baker"s shop and steal two loaves of
          | bread from it and then I saw you pass by a pomegranate shop and steal
          | two pomegranates from it." 

        p
          | Instead of replying to this he questioned me before I  could complete what I wanted to say:

        blockquote "Who are you?" 

        p I replied:  

        blockquote "I am a man from the sons of Adamas and a member of the community of Muhammad (saww) and a member of his household."

        blockquote "Perhaps you are Jafar Bin Muhammad Bin Ali Bin Al Husayn Bin Ali Bin Abu Talib?" 

        p I said to him: 

        blockquote  "Yes I am." 

        p He said:

        blockquote
          | "What profit did you gain from the honour of your family when you are 
          | ignorant of their honour and you have ignored the knowledge of your forefathers?" 
        
        p I said 
        blockquote "What have I ignored?"

        p He said: 

        blockquote "The Quran which is the Book of Allah." 
        p I said: 

        blockquote  "What is it that I am ignorant of from it?" 

        p He said: 

        blockquote "The Words of Allah the Mighty"

        p.arabic
          | مَن جَآءَ بِٱلْحَسَنَةِ فَلَهُۥ عَشْرُ أَمْثَالِهَا ۖ وَمَن جَآءَ بِٱلسَّيِّئَةِ فَلَا يُجْزَىٰٓ إِلَّا مِثْلَهَا وَهُمْ لَا يُظْلَمُونَ ﴿١٦٠﴾

        blockquote 
          | Whoever brings a good deed, he shall have ten like it, and whoever brings an evil
          | deed, he shall be recompensed only with the like of it, and they shall not
          | be dealt with unjustly - 
          a(href="/quran/6/160") (6:160).

        blockquote 
          | When I stole two loaves of bread I got two sins, and when I stole two
          | pomegranates I got two sins for that and that makes four sins, and when I
          | gave it all in charity I got forty rewards for it, and when you take that off I am
          | left with thirty six net rewards to my credit.

        p I said: 

        blockquote
          | "May your mother sit in your grief! You are the one ignorant of the
          | Book of Allah and not I. Have you not heard the Words of Allah"

        p.arabic
          | قَالَ إِنَّمَا يَتَقَبَّلُ ٱللَّهُ مِنَ ٱلْمُتَّقِينَ ﴿٢٧﴾
        blockquote.english
          |  Allah only accepts from those who guard (against evil) 
          a.ui-link(href='/quran/5/27') (5:27) 

        blockquote
          | When you stole two loaves of bread you ended up with two bad deeds, and then you
          | stole two pomegranates and you ended up with four, and then you gave these 
          | to someone else without the permission of the owners and so you ended up
          | with four more bad deeds.

        p
          | He looked at me astonished, and I left him in that state and walked away. 

      include ../sharing
