extends ../layout

block content
  div(role='main')
    .page.innerPage#bestplace(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | The humble Imam

        p The cordiality and humility of Imam Zainul Abideen (a.s) was well known among the residents of Medina. He used to deal with his slaves and maids also in the most cordial and gentle way. His behavior with his slaves was such that strangers failed to recognize which of them were the Master and which one the slave. 
        p 
          | One day a father-son duo from Khorasan came to meet the Imam. When it was the time for dinner the Imam moved 
          | forward to wash the hands of the guest but he said, "O son of the Messenger of Allah (S)! I will not allow this!" The Imam said, 
          blockquote "It is my duty. Why do you want me to be deprived of its rewards?" 
          | Thus, the Imam did not agree and at last washed his hands. After that he ordered Imam Muhammad Baqir (a.s) to wash the son's hands.
      include ../sharing
