extends ../layout

block content
  div(role='main')
    .page.innerPage#hadith(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1.noprint
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Ahadith')
            | #{hadith.title}

        +breadcrumb([{ href: '/ahadith', text: 'Ahadith' }, { href: '/ahadith/' + collection + '/1' , text:name }])

        p.arabic
          | !{hadith.arabic.replace(':',':<br/>')}
           

        p.english
          | !{helpers.embellish(hadith.english.replace(':','<blockquote>')) + '</blockquote>'}

        cite
          | Source: #{hadith.ref}
        br
        br

        +prevnext('/ahadith/' + collection + '/' + Math.max(id - 1,1),'/ahadith/' + collection + '/' + Math.min(id + 1,40)) 

      include ../sharing
