if environment == 'development'
  link(rel="stylesheet",href="/css/libs/jquery.mobile-1.1.1.css")
  link(rel="stylesheet",href="/css/libs/flexslider.css")
  link(rel="stylesheet",href="/css/photoswipe/photoswipe.css")
  link(rel="stylesheet",href="/css/style-blue.css")
else
  link(rel="stylesheet",href="#{static_url('/css/<PLACEHOLDERFORMINIFIEDFILE>')}")
