extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1 
          a.back.ui-link(href='/ziyaraat')
            img(src='/img/icon-back.png',alt='Back')
          | Seeking Permission to Enter the Jannatul Baqeeh

        p.arabic اللَّهُمَّ إِنِّي وَقَفْتُ عَلَى بَابٍ مِنْ أَبْوَابِ بُيُوتِ نَبِيِّكَ صَلَوَاتُكَ عَلَيْهِ وَ آلِهِ
