extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1 
          a.back.ui-link(href='/ziyaraat')
            img(src='/img/icon-back.png',alt='Back')
          | Seeking Permission to Enter the Jannatul Baqeeh

        p.arabic  فَأْذَنْ لِي يَا مَوْلاَيَ فِي الدُّخُولِ أَفْضَلَ مَا أَذِنْتَ لِأَحَدٍ مِنْ أَوْلِيَائِكَ فَإِنْ لَمْ أَكُنْ أَهْلاً لِذَلِكَ فَأَنْتَ أَهْلٌ لِذَلِكَ (لَهُ)
        p.right  پس ببوس عتبه مباركه را و داخل شو و بگو
        br
        br
        p.arabic  بِسْمِ اللَّهِ وَ بِاللَّهِ وَ فِي سَبِيلِ اللَّهِ وَ عَلَى مِلَّةِ رَسُولِ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَ آلِهِ
        p.arabic  اللَّهُمَّ اغْفِرْ لِي وَ ارْحَمْنِي وَ تُبْ عَلَيَّ إِنَّكَ أَنْتَ التَّوَّابُ الرَّحِيمُ

