extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Ziyaraat

        p
          | Ziyarat is an arabic term that literally means a visit, and is used to refer piligrimage to sites associated with Prophet Muhammad and his pure
          | progeny.
       .padpage
         h2
         span.h2 Popular Ziyarats

       ul(data-role='listview')
         each ziyarat in ziyarats
           li
             a(href='/ziyarat/#{ziyarat.urlkey}')
               img.ui-li-icon(src='/img/sample-images/icon2.png', alt='#{ziyarat.enname}')
               | #{ziyarat.enname}

       .padpage
         h2
         span.h2 Ziyarats of Imam Ali Ibn. Husain

        ul(data-role='listview')
          li
            a(href='/ziyaraat/entry')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Izn-e-Dukhool')
              | Seeking permission to enter
          li
            a(href='/ziyaraat/salwat')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Salwat')
              | Salutations on Imam Sajjad
          li
            a(href='/ziyarat/baqeeh')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Salwat')
              | Ziyarat of Imams in Jannatul Baqeeh


