extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Ziyarat Home")


      .padpage.padtop
        h1
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Ziyaraat

        p
          | Ziyarat is an arabic term that literally means a visit, and is used to refer piligrimage to sites associated 
          | with Prophet Muhammad and his pure progeny.
        p
          | The word Ziyarat has its roots in "zawr", which means to deflect or draw away from something. A zair is called
          | so because he deflects from everyone other than the one whom he intends to visit.
        p 
          | The grand Ayatullah Jawadi Amuli in his masterpiece 'Adabe Finaye Muqarraban' says
        blockquote
          | Ziyarat is the mystical presence of the fervent lover in the dwelling of the Beloved; it is the visitor's
          | passionate encounter of the abode of the visited one; it is the lover's expression of intense love and consideration
          | for the beloved; it is when the enamored one sincerely gives his heart in the alley of the possessor of the heart ...


        each collection,name in collections
         .padpage
           h2
           span.h2 #{name}
         ul(data-role='listview')
           each ziyarat in collection
             li
               a(href='/ziyarat/#{ziyarat.urlkey}')
                 img.ui-li-icon(src='/img/sample-images/icon2.png', alt='#{ziyarat.enname}')
                 | #{ziyarat.enname}

      .padpage
        h2
          span.h2 Ziyarats of Imam Ali Ibn. Husain

        ul(data-role='listview')
          li
            a(href='/ziyaraat/entry')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Izn-e-Dukhool')
              | Seeking permission to enter
          li
            a(href='/ziyaraat/salwat')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Salwat')
              | Salutations on Imam Sajjad
          li
            a(href='/ziyarat/baqeeh')
              img.ui-li-icon(src='/img/sample-images/icon2.png', alt='Salwat')
              | Ziyarat of Imams in Jannatul Baqeeh


