extends ../layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/ziyaraat')
            img(src='/img/icon-back.png',alt='Back')
          | Salutations on Imam Zainul Abideen

        .flexslider(data-ajax='false')  
          img(src='/img/salwat.jpg',alt='Salutations on Imam Ali ibn. Husain')

        .section.group
          .col.span_1_of_2
            | O Allah send blessings on Ali bin Husayn, the lord among (Thy) adorers, 
            | whom Thou selected for Thy pure friendship, and, in his lineage, appointed 
            | his offsprings as the true guides (Imams) who truthfully guided the mankind, 
            | and for that purpose repeated them, one after another, as Thy own preferred 
            | choice. Thou kept off uncleanness far from him, elected him in preference over 
            | others, and appointed him as the rightly guided guide.  O Allah send 
            | blessings on him, much and more blessings than Thou had bestowed upon any of 
            | the descendants of the Prophets, till Thy blessings enthral him with joy and delight, 
            | in this world and in the hereafter. Verily Thou art Almighty, All-Wise.
          .col.span_1_of_2.arabic
              | اَللَّهُمَّ صَلِّ عَلَى عَلِيِّ بْنِ الْحُسَيْنِ سَيِّدِ الْعَابِدِينَ الَّذِي اسْتَخْلَصْتَهُ لِنَفْسِكَ وَ جَعَلْتَ مِنْهُ أَئِمَّةَ الْهُدَى الَّذِينَ يَهْدُونَ بِالْحَقِّ وَ بِهِ يَعْدِلُونَ اخْتَرْتَهُ لِنَفْسِكَ وَ طَهَّرْتَهُ مِنَ الرِّجْسِ وَ اصْطَفَيْتَهُ وَ جَعَلْتَهُ هَادِياً مَهْدِيّ اللَّهُمَّ فَصَلِّ عَلَيْهِ أَفْضَلَ مَا صَلَّيْتَ عَلَى أَحَدٍ مِنْ ذُرِّيَّةِ أَنْبِيَائِكَ حَتَّى يَبْلُغَ بِهِ مَا تَقَرُّ بِهِ عَيْنُهُ فِي الدُّنْيَا وَ الْآخِرَةِ إِنَّكَ عَزِيزٌ حَكِيم

