extends ../layout

block metatags
  title Arbaeen 2013
  meta(name="description",content='Arbaeen of Imam Husain')
  meta(name="author",content="Qasim Zaidi")
  meta(property="og:image",content="/img/arbaeen.jpg")

block content
  div(role='main')
    .page.innerPage#aboutPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Arbaeen 2013

        p
          img(src='/img/arbaeen.jpg',alt='Millions mark Arbaeen in Karbala')

        p
          | The observance of Arbaeen in Karbala, Iraq, has consistently been the largest peaceful gathering of humanity 
          | in a single day. Last year, an estimated 21 million people visited the shrine of Imam Husain on this day (
          a(href='http://http://en.wikipedia.org/wiki/List_of_largest_peaceful_gatherings_in_history',rel='external') wikipedia
          |)

        p 
          | The Arbaeen of Imam Husain and the martyrs of Karbala falls on 20th of Safar every year.
          | This year, it falls on Thursday, 3rd January, 2013. This is a sombre occasion for Muslims
          | all over the world, who remember the sacrifice of Imam Husain and his companions in Karbala,
          | and all that he stood for. 

        h4
          a.next.ui-link(href="/about/bio") Tell me more
            img(src="/img/icon-next.png")
        h4
          a.next.ui-link(href="/about/bio") Ziyarat of Arbaeen
            img(src="/img/icon-next.png")

        include ../sharing
