extends ../layout

block metatags
  title Sakina, the opressed daughter of Imam Husain
  meta(name="description",content='Martyrdom of Sakina, the beloved daughter of Imam Husain (AS)')
  meta(name="author",content="Qasim Zaidi")
  meta(property="og:image",content="#{host}/img/sakina.jpg")

block content
  div(role='main')
    .page.innerPage#sakina(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Martyrdom of Sakina

        p
          img(src='/img/sakina.jpg',alt='Condolences on Martyrdom of Sakina')

        p
          | Sakina, the young hashemite princess and beloved daughter of Imam Husain and Rabab, died of cold
          | and starvation in the Ummayyad Prison, at a tender age of 4, on the 17th of Safar. Her story is one
          | of grief and tragedy, one of the most emotional and affecting stories of Karbala.
        p
          | Sakina was Imam Hussain"s most beloved child. Imam Husain used to say, 
          blockquote "A house without sakina would not be worth living in!" 
          | She always had a sweet and cheerful smile and a very friendly nature. Other children sought her 
          | company as much as the grown ups did. She was very generous and always shared whatever she had with others.

        include ../sharing
