extends ../layout

block content
  div(role='main')
    .page.innerPage#repenters(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 The whispered prayer of the Repenters
          audio(src="/audio/SS001.mp3",controls="controls")

        table
          thead
            th English Translation
            th(style="width: 75%")
          tr
            td My God, offenses have clothed me in the garment of my lowliness,
            td.right.arabic إلـٰهِي أَلْبَسَتْنِي الْخَطايا ثَوْبَ مَذَلَّتِي،
          tr
            td separation from You has wrapped me in the clothing of my misery!
            td.right.arabic وَجَلَّلَنِي التَّباعُدُ مِنْكَ لِباسَ مَسْكَنَتِي،
          tr
            td My dreadful crimes have deadened my heart,
            td.right.arabic وَأَماتَ قَلْبِي عَظِيمُ جِنايَتِي،
          tr
            td so bring it to life by a repentance from You! O my hope and my aim!
            td.right.arabic فَأَحْيِه بِتَوْبَةٍ مِنْكَ يا أَمَلِي وَبُغْيَتِي،
          tr
            td O my wish and my want!
            td.right.arabic وَيا سُؤْلِي وَمُنْيَتِي،
